:root {
  --background-color:rgb(11, 146, 199);

}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
}

.orden{
  background: rgb(220, 224, 229);
  display: flex;
  flex-direction: column;
  width: 30px ;
  height: 30px ;
  margin-bottom: 20px;
  margin-left: 5px;
}
